- index = 0
.content-wrapper
  .content-wrapper-inner
    .movie
      .movie-poster
        %img{ :src => 'http://cf1.imgobject.com/posters/c13/4bc90aca017a3c57fe003c13/goldfinger-cover.jpg' }
      .movie-details
        .movie-title
          = 'Goldfinger'
    - @events.each do |e|
      .stream-item{ :id => e.id, :class => e.times }
        -if e.type == 'ACTOR'
          %div.crew-image
            %img{ :src => face(e.crew), :title => e.crew }/
          .stream-content
            .crew
              = e.crew
              %span.place= e.places
              %span.time= e.times
              %span.people
                - unless e.people.nil?
                  - e.people.each do |p|
                    %img{ :src => face(p) , :title => p }/ 
            .content
              = e.content
        - else
          .movie-content
            .crew
              = e.crew
              %span.place= e.places
              %span.time= e.times
              %span.people
                - unless e.people.nil?
                  - e.people.each do |p|
                    %img{ :src => face(p) , :title => p }/ 
            .content
              = e.content
  #infoboard
    .info-item
    #screenshot
      %img{ :id => 'screenshot-image', :title => p }
    #map
