- index = 0
.content-wrapper
  .content-wrapper-inner
    .movie
      .movie-poster
      .movie-details
        .movie-title
          = 'Goldfinger'
    - @events.each do |e|
      .stream-item{ :id => e.id, :class => e.times }
        -if e.type == 'ACTOR'
          %img.crew-image{ :src => @cast[e.crew.downcase] && @cast[e.crew.downcase]['image'] }/
          .stream-content
            .crew
              = e.crew
              %span.place= e.places
              %span.time= e.times
              %span.place= e.people.inspect
            .content
              = e.content
        - else
          .movie-content
            .crew
              = e.crew
              %span.place= e.places
              %span.time= e.times
              %span.place= e.people.inspect
            .content
              = e.content
    #infoboard
    .info-item
      = 'Info-Inhalt'
            